@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: auto;
}

body {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-image: linear-gradient(#ae670e, #d59a0b);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.25rem;
}

body::-webkit-scrollbar {
    display: none;
}

header {
  padding: 10px;
  position: fixed;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin: 0px 5px;
}

nav a {
  text-decoration: none;
  padding: 5px;
  color: aliceblue;
}

nav a:hover {
  text-decoration: underline rgb(255, 31, 31) 2px;
  
}

.h1 {
  font-size: 2.25rem;
}

.h2 {
  font-size: 1.75rem;
}

.h3 {
  font-size: 1.5em;
}

.h4 {
  font-size: 1.25em;
}

.logo {
  margin-right: 10px;
  height: 32px;
}

.banner-img {
  height: auto;
  max-width: 100%;
}

.banner {
  height: 100dvh;
  background-image: url(dandadan-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: #890608 solid 2px;
}

.title-about, .title-characters {
  padding-top: 10%;
  font-size: 10rem;
  background: -webkit-linear-gradient(#e52424, #890608);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.okarun, .momo {
  max-width: 600px;
}

.character-name {}

.character-img {
  width: 360px;
  display: block;
  margin: auto;
}

.character-description {}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.container {
  padding: 20px;
}

.rw-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pd-10 {
  padding: 10px;
}

#about {
  height: 100dvh;
}

#characters {
  height: auto;
  text-align: center;
} 

@media only screen and (max-width: 600px) {
  .title-about {
    font-size: 4rem;
  }

  .title-characters {
    font-size: 3.5rem;
  }

  .rw-2 {
    flex-direction: column;
  }
}