@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    max-width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000000;
    color: #ffffff;
    align-content: center;
}

header {
    position: sticky;
    top: 0px;
    background-color: #000000;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.footer-section a {
    height: 50px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 100%;
}

.github-icon {
    height: 40px;
}

.logo {
    height: 32px;
}

.padding-20px {
    padding: 20px;
}

.padding-10px {
    padding: 10px;
}

.padding-5px {
    padding: 5px;
}

.nav-link {
    display: flex;
}

.nav-link li {
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link a {
    padding: 10px;
}

.primary-button {
    color: #ffffff;
}

.nav-link .primary-button {
    color: #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-link .primary-button:hover {
    color: #000;
    box-shadow: inset 200px 0 0 0 #fff;;
}

.nav-link .primary-button {
    color: #fff;
    text-decoration: none;
}

.secondary-button {
    background-color: #ffffff;
}

.primary-button, .secondary-button {
    text-decoration: none;
    border-radius: 3px;
}

.nav-link {
    list-style-type: none;
}

.profile {
    width: auto;
    height: 368px;
    border-radius: 100%;
}

.intro-center {
    display: flex;
    align-items: center;
}

.center {
    max-width: max-content;
    margin: 0 auto;
}

.padding-lr {
    padding-left: 20px;
    padding-right: 20px;
}

.text-gold {
    color: goldenrod;
}

.vh-80 {
    height: 80dvh;
}

.vh-100 {
    height: 100dvh;
}

.developer-intro {
    font-size: 1.5rem;
}

.max-width {
    max-width: 1280px;
}

.wrapper {
    margin: auto;
    max-width: 1280px;
    overflow: hidden;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.yap-shadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px tomato;
}

.yap-1, .yap-2  {
    display: flex;
    margin-bottom: 10px;
}

.yap-image {
    height: 256px;
    margin: 10px 15px;
    border-radius: 3px;
    max-width: 100%;
}

.section-line {
    background-color: goldenrod;
    border: none;
    height: 2px;
}

.section-title {
    margin: 10px 5px;
    font-size: 2rem;
}

.padding-title {
    padding-top: 50px;
}

.margin-tb {
    margin-top: 10px;
    margin-bottom: 10px;
}

.forward-icon {
    height: 50px;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
}

.bg-gray {
    background-color: gainsboro;
    color: #000000;
}

.bg-gold {
    background-color: goldenrod;
}

.copyright {
    font-size: 1.3rem;
}

#introduction {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 870px) {
    .container {
        margin: 10px;
    }

    .yap-1, .yap-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 400px;
    }
    
    .footer-section {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        margin: 10px;
    }

    .yap-1, .yap-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 490px) {
    .nav-link a {
        padding: 5px;
        font-size: 1rem;
    }
    
    .logo {
        border-radius: 100%;
    }

    .profile {
        border-radius: 0%;
    }

    .padding-20px {
        padding: 5px;
    }
}
