@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000000;
    color: #ffffff;
    align-content: center;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

header {
    position: sticky;
    top: 0px;
    background-color: #000000;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.footer-section a {
    height: 50px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 100%;
}

.github-icon {
    height: 40px;
}

.logo {
    height: 32px;
}

.padding-20px {
    padding: 20px;
}

.padding-10px {
    padding: 10px;
}

.padding-5px {
    padding: 5px;
}

.nav-link {
    display: flex;
    list-style-type: none;
}

.nav-link li {
    padding-left: 5px;
    padding-right: 5px;
}

.primary-button {
    color: #ffffff;
    padding: 7px;
}

.nav-link .primary-button {
    color: #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-link .primary-button:hover {
    color: #000;
    box-shadow: inset 200px 0 0 0 #fff;;
}

.nav-link .primary-button {
    color: #fff;
    text-decoration: none;
}

.secondary-button {
    background-color: #ffffff;
    padding: 7px;
}

.primary-button, .secondary-button {
    text-decoration: none;
    border-radius: 7px;
}

.profile {
    width: auto;
    height: 368px;
    border-radius: 100%;
}

.intro-center {
    display: flex;
    align-items: center;
}

.section-line {
    background-color: goldenrod;
    border: none;
    height: 2px; 
}

.section-title {
    margin: 10px 5px;
    font-size: 6rem;
    text-align: center;
}

.padding-title {
    padding-top: 60px;
}

.center {
    max-width: max-content;
    margin: 0 auto;
}

.padding-lr {
    padding-left: 20px;
    padding-right: 20px;
}

.text-gold {
    color: goldenrod;
}

.vh-80 {
    height: 80dvh;
}

.vh-100 {
    height: 100dvh;
}

.developer-intro {
    font-size: 3rem;
}

.wrapper {
    margin: auto;
    max-width: 1280px;
    overflow: hidden;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.margin-tb {
    margin-top: 10px;
    margin-bottom: 10px;
}

.forward-icon {
    height: 50px;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
}

.bg-gray {
    background-color: gainsboro;
    color: #000000;
}

.bg-gold {
    background-color: goldenrod;
}

.bold {
    font-weight: bolder;
    color: limegreen;
}

.copyright {
    font-size: 1.3rem;
}

.rw-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.h1 {   
    font-size: 2.25rem;
    font-weight: 900;
}

.h2 {
    font-size: 1.75rem;
}

.h3 {
    font-size: 1.5em;
}

.h4 {
    font-size: 1.25em;
}

.bio, .basic-info {
    max-width: 50%;
    font-size: 1.75rem;
}

#introduction {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-height: 700px) {
    * {
        height: auto;
    }

    .footer-section {
        flex-direction: column;
        text-align: center;
    }

    .developer-intro {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .footer-section {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .rw-2 {
        flex-direction: column;
    }

    .about-content {
        text-align: center;
    }

    .about-content p {
        font-size: 1rem;
    }

    .bio, .basic-info {
        max-width: 100%;
    }
    
    .section-title {
        font-size: 3.25rem;
    }
    
    .container {
        margin: 10px;
    }

    .footer-section a {
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 490px) {
    .nav-link a {
        padding: 5px;
        font-size: 1rem;
    }
    
    .logo {
        border-radius: 100%;
    }

    .profile {
        border-radius: 0%;
    }

    .padding-20px {
        padding: 5px;
    }
}