@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000000;
    color: #ffffff;
    max-width: 1280px;
    margin: auto;
}

header {
    position: sticky;
    top: 0px;
    background-color: #000000;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 5px 10px 5px;
}

main {
    height: auto;
    font-size: 1.5rem;
}

footer {
    background-color: red;
}

a {
    text-decoration: none;
}

.p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.logo {
    height: 32px;
    margin-right: auto;
    margin-left: 5px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
}

.nav-link {  
    text-decoration: none;
    color: #ffffff;
}

.nav-link, .nav-button {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

.social{
    background-color: #ffffff;
    color: #000000;
}

.nav-link:hover {
    background-color: #ffffff;
    color: #000000;
}

.social:hover {
    background-color: goldenrod;
    color: #ffffff;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.profile {
    width: 368px;
    height: 368px;
    border-radius: 100%;
}

.intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev-intro, .dev-img {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.0rem;
}

.img-fluid {
    max-width: 100%;
}

.sample-img1 {
    height: 30dvh;
    border-radius: 1vh;
}

.about-content-1 {
    display: flex;
    align-items: center;
}

.title-line {
    background-color: goldenrod;
    border: unset;
    height: 2px;
    margin-bottom: 20px;
}

.heading {
    padding-top: 70px;
    font-size: 2.0rem;
}

.container-tb {
    padding-top: 20px;
    padding-bottom: 20px;
}

.learn-more {
    margin-left: 15px;
}

.link {
    color: rgb(60, 122, 255);
}

.bg-gray {
    background-color: #999999;
}

.bg-gold {
    background-color: goldenrod;
}

.project {
    margin-top: 10px;
    padding: 20px;
    border-radius: 1dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forward-icon {
    width: auto;
    height: 52px;
    display: flex;
    align-items: center;
}

.copyright {
    font-size: 1.2rem;
}

.social-icon {
    height: 50px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 100%;
}

.footer-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h1 {
    font-size: 1.7rem;
}

.text-muted {
    color: rgb(192, 192, 192)
}

.text-gold {
    color: goldenrod;
}

#intro {
    height: 97vh;
    align-content: center;
}

@media only screen and (max-width: 1032px) {
    #intro {
        height: 70vh;
    }    
    #about {
        height: auto;
    }

    #projects {
        height: auto;
    }
    
    #about, .about-content-1 {
        display: flex;
        flex-direction: column;
    }

    .p {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .learn-more {
        text-align: center;
    }
}

@media only screen and (max-width: 490px) {
    .nav-link, .nav-button {
        padding: 7px;
        border-radius: 7px;
    }
    
    .logo {
        border-radius: 100%;
    }

    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile {
        position: fixed;
        top: 70px;
        left: 100px;
        width: 60dvh;
        height: 60dvh;
        z-index: -1;
        opacity: 0.7;
        border-radius: 0%;
    }

    .dev-intro {
        position: absolute;
        bottom: 190px;
    }

    .sample-img1 {
        width: 100%;
        height: 100%; 
    }

    .footer-section {
        flex-direction: column;
        text-align: center;
    }

    #intro {
        height: 100dvh;
    }

}

